:root{
    --brand-blue: #00bfff;
    --darker-blue: #1565C0;
}

#header {
    background-color: var(--brand-blue);
  }

#header-img {
    padding-top: 30px;
    padding-left: 30px;
    
}
#nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: var(--brand-blue);
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: var(--darker-blue);
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

h1 {
    text-align: center;
    margin-top: -100px;
    margin-bottom: 0px;
    color : white;
    font-size: 50pt;
  }

main{
    padding-top: 10px;
    background-color: azure;
  }
#presentation-picture {
  width: 563px;
  height: 845px;
}
  #product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 30px;

}
ul {
    list-style-type: none;
    
}
.icon {
    padding-top : 20px;
    padding-right : 15px;
    width : 50px;
    height : 50px;
}
#video {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
}
#form {
    background-color: #615f6722; 
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 400px; 
    margin: 0 auto; 
}

#form p {
    margin-bottom: 15px; 
}

input[type="email"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}
input[type="submit"] {
    background-color: var(--brand-blue);
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 4px; 
    cursor: pointer; 
}

input[type="submit"]:hover {
    background-color: var(--darker-blue);
}
  

  
