:root {
    --mercury-color: #BFBEBD;
    --venus-color: #D9B391;
    --earth-color: #6387A6;
    --mars-color: #F27A5E;
    --jupiter-color: #bf8136;
    --saturn-color: #D9B779;
    --uranus-color: #95BBBF;
    --neptune-color: #789EBF; 

}
html {
  background : black;
}

@media (min-width=480px) and (max-width=1999px) {
    h1 {
      color: red;
    }
    }
  ul  {
    list-style-type: none;
  }
  
  
  p {
  
  }
  
  h1 { 
    color:white;
  }
  header {
    font-weight: bold;
    color: white;
    
  }
  
  li {
    margin:5px;
  }

#navbar {
    height: 100vh; 
    width: 200px; 
    position: fixed; 
    left: 0; 
    background-color: black ; 
    color: ; 
    padding: 20px; 
}

#main-doc {
    margin-left: 250px;
    padding: 20px;
    text-align: center;
}

#Mercury {
  background: var(--mercury-color) ;
    
   
}

#Venus {
  background:  var(--venus-color) ;
  
}

#Earth {
  background : var(--earth-color);
    
}

#Mars {
  background: var(--mars-color);
    
}

#Jupiter {
  background: var(--jupiter-color);
 
}

#Saturn {
  background: var(--saturn-color);
   
}

#Uranus {
  background: var(--uranus-color);
  
}

#Neptune {
  background:  var(--neptune-color);
  
}
